@media all and (max-width: 479px) {
	.wrapp {
		width: 100%;
		padding: 0;
	}

	.papperHeader {
		font-size: 27px;
		padding: 0 10px;
	}

	/*************************         header start        *************************/



	header.navHeader {
		padding-top: 0;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 9999;
		padding-top: 0;
		background: #fff;
		box-shadow: 0 0 8px 0 rgba(0, 0, 0, .15);
	}

	nav.mobileNav ul.mobileNavMain li.liveChatButton {
		display: none;
	}

	nav.mobileNav ul.mobileNavMain li.signInButton  {
		margin-left: 0;
	}


	nav.mainNav {
		display: none;
	}

	nav.mobileNav {
		display: block;
		float: right;
		width: auto;
		padding-top: 0;
	}

	nav.mobileNav .mobileNavMain {
		text-align: right;
	}

	nav.mobileNav ul.mobileNavMain li.orderButton  {
		margin-left: 0;
	}
	nav.mobileNav ul.mobileNavMain li.orderButton a {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 14px;
	}

	nav.mobileNav .signInButton .papperButton {
		padding-left:  10px;
		padding-right: 10px;
	}

	.hamburgerButton {
		display: block;
		margin-top: 0;
	}

	header.navHeader .wrapp{
		padding: 10px 5px;
	}

	.logo,
	header.navHeader.fixedHeader .logo {
		margin-top: 2px;
		margin-left: 10px;
		width: 115px;
		height: 35px;
	}


	header.navHeader.fixedHeader .mainNav li {
		margin-left: 15px;
	}

	header.navHeader.fixedHeader + section.headliner,
	header.navHeader.fixedHeader + .wrapp.main {
		margin-top: 60px;
	}



	/*************************         header end        *************************/

	/*************************         headliner start        *************************/


	section.headliner {
		margin-top: 60px;
		overflow: visible;
	}

	section.headliner .headlinerAngle {
		width: 100%;
		padding: 10px;
		background: none;
		text-align: center;
		
	}
	section.headliner .headlinerAngle h1 {
		font-size: 2em;
		width: 100%;
		margin-top: 20px;
	}

	section.headliner .headlinerAngle .headlinerButton {
		font-size: 16px;
		width: 200px;
		text-align: center;
	}

	section.headliner .headlinerCircle {
		width: 100%;
		height: auto;
		padding: 0;
		text-align: center;
		border: none;
		margin: 30px 0;
		padding-left: 16%;
	}

	section.headliner .headlinerCircle ul {
		width: 70%;
		margin: 0 auto;
	}

	section.headliner .headlinerCircle .headlinerPic1,
	section.headliner .headlinerCircle .headlinerPic2 {
		display: none;
	}

	section.headliner .headlinerCircle ul li {
		font-size: 15px;
		text-align: left;
	}
	section.headliner .headlinerCircle ul li:before {
		left: -37px;
		top: 50%;
	}

	/*************************         calc start        *************************/




	.paperCalcSide {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px; 
	}

	.paperCalcSide .paperCalc {
		text-align: center;	
	}

	.paperCalcSide .paperCalc .paperCalcPriceField {
		text-align: center;
		
	}

	.paperCalcSide .paperCalc .selectWrapper {
		display: inline-block;
		width: 90%;		
		margin-right: 0;
		text-align: left;
	}

	.paperCalc .selectWrapper .sod_select {
		padding: 10px 0;
	}

	.paperCalc .selectWrapper .sod_select:after {
		top: 19px;
	}

	.paperCalc button.paperCalcSubmit {
		display: block;
		width: 60%;
		margin: 0 auto;
	}
	

	.paperCalcSide h2 {
		font-size: 19px;
	}

	.paperCalc fieldset.paperCalcPriceField div {
		vertical-align: middle;
		font-size: 17px;
	}
	.paperCalc fieldset.paperCalcPriceField div .paperCalcPrice {
		font-size: 20px;
	}


	/*************************         calc end        *************************/

	/*************************         headliner end        *************************/

	/*************************        get price calc start        *************************/

	section.getPrice .paperCalc {
		width: 100%
	}

	section.getPrice .paperCalc fieldset .selectWrapper {
		width: 90%;
		margin-right: 0
	}

	section.getPrice .paperCalc button.paperCalcSubmit {
		width: 60%;
	}

	/*************************        get price calc end        *************************/

	/*************************         why us start        *************************/

	section.whyUs div ul {
		width: 90%;
		margin-bottom: 20px;
	}
	section.whyUs div ul li {
		font-size: 14px;
	}
	section.whyUs div ul li.whyUsIcons {
		height: 50px;
		background-size: contain !important;
	}
	section.whyUs div ul:last-child {
		margin-top: 30px;
	}

	/*************************         why us end        *************************/

	/*************************         savings start        *************************/

	section.savings {
		text-align: center;
		padding: 10px 0;		
	}


	section.savings hr.mobile-hr {
		display: block;
	}

	section.savings div.savingsEl {	
		width: 48%;
		padding: 10px 15px 10px 15px;
	}

	section.savings div.savingsEl:nth-of-type(even) {
		border-right: none;
	}

	section.savings div.savingsTitle {
		font-size: 22px;
		padding: 10px 0 10px 30px;
	}

	section.savings div.savingsTitle span {
		font-size: 21px;
		padding-top: 6px;
		padding-left: 4px;
		width: 60px;
		height: 35px;
	}

	section.savings div.savingsEl h3 span {
		display: block;
		margin-bottom: 5px;
	}

	section.savings div.savingsEl h5 {
		font-size: 22px;
	}


	/*************************         savings end        *************************/

	/*************************         how does it works start        *************************/

	section.howItWorks ul {
		width: 90%;
		margin: 80px auto;
		padding-right: 0;
		text-align: center;
	}

	section.howItWorks ul li {
		width: 190px;
		height: 190px;
		padding-top: 120px;
		margin-right: 0;
		margin-bottom: 0;
		margin-top: 0;
	}

	section.howItWorks ul li:nth-child(1),
	section.howItWorks ul li:nth-child(3) {
		margin-right: 80px;
		margin-top: 0;
	}
	section.howItWorks ul li:nth-child(2),
	section.howItWorks ul li:nth-child(4) {
		margin-top: 0;
		margin-left: 80px;
	}

	section.howItWorks ul li:not(:first-child) {
		margin-top: 20px;
	}

	section.howItWorks ul li:nth-child(1):after {
		top: 64%;
		right: -18%;
		-webkit-transform: translate(50%, 0) scale(1, -1) rotate(-25deg);
		    -ms-transform: translate(50%, 0) scale(1, -1) rotate(-25deg);
				  transform: translate(50%, 0) scale(1, -1) rotate(-25deg);
	}

	section.howItWorks ul li:nth-child(2):after {
		top: 64%;
		right: 115%;
		-webkit-transform: translate(50%, 0) scale(-1, -1) rotate(-25deg);
		    -ms-transform: translate(50%, 0) scale(-1, -1) rotate(-25deg);
		        transform: translate(50%, 0) scale(-1, -1) rotate(-25deg);
	}

	section.howItWorks ul li:nth-child(3):after {
		top: 61%;
		right: -17%;
		-webkit-transform: translate(50%, 0) scale(1, -1) rotate(-25deg);
		    -ms-transform: translate(50%, 0) scale(1, -1) rotate(-25deg);
				  transform: translate(50%, 0) scale(1, -1) rotate(-25deg);
	}


	section.howItWorks ul li:nth-child(1) img {
		width: 106px;
		height: 89px;
		top: 10px;
	}
	section.howItWorks ul li:nth-child(2) img {
		width: 105px;
		height: 79px;
		top: 15px;
	}
	section.howItWorks ul li:nth-child(3) img {
		width: 106px;
		height: 107px;
		top: -18px;
	}
	section.howItWorks ul li:nth-child(4) img {
		width: 129px;
		height: 87px;
		top: 10px;
	}

	section.howItWorks ul li:after {
		right: -40%;
	}


	/*************************         how does it works end        *************************/

	/*************************         learn more start        *************************/

	section.learMore {
		margin-top: 0;
		text-align: center;
		
	}

	section.learMore div.wrapp div {
		display: inline-block;
		width: 100%;
		margin-right: 0;
		margin-top: 5%;
		padding: 3% 10%;
	}

	section.learMore div h2 {
		font-size: 18px;
	}
	section.learMore div p {
		height: auto;
		font-size: 15px;
		margin-bottom: 20px;
	}

	section.learMore div a {
		width: 60%;
	}


	/*************************         learn more end        *************************/

	/*************************         WHAT TYPES start        *************************/


	section.whatTypes {
	
	}
	
	section.whatTypes ul {
		width: 100%;
		margin: 0 0 30px 0;
		padding-left: 50px;
	}


	section.whatTypes ul li {
		font-weight: 600;
		width: 205px;
		margin-right: auto;
		margin-left: auto;
	}



	/*************************         WHAT TYPES end        *************************/

	/*************************         slider start        *************************/

	.sliderWrapp .slider {
		width: 77%;
	}

	.sliderWrapp .sliderPrev {
		left: 0;
	}

	.sliderWrapp .sliderNext {
		right: 0;
	}

	.sliderWrapp .slider .slide p {
		font-size: 16px;
	}

	.sliderWrapp .slider .slide .profile img {
		width: 80px;
		height: 80px;
		margin-right: 10px;
	}

	.sliderWrapp .slider .slide .profile {
		width: 250px;
	}

	.sliderWrapp .slider .slide .profile .sliderUserMeta {
		padding: 20px 0 10px;
		float: none
	}

	.sliderWrapp .slider .slide .profile .sliderUserMeta h3 {
		font-size: 16px;
		font-weight: 400;
	}


	/*************************         slider end        *************************/

	/*************************       What We Offer start        *************************/

	

	section.whatWeOffer .whatWeOfferCol div:nth-child(1),
	section.whatWeOffer .whatWeOfferCol div:nth-child(2) {
		float: none;
		width: 90%;
		margin: 0 auto;
	}

	section.whatWeOffer .whatWeOfferCol {
		background-image: none;
		margin-bottom: 20px;
	}

	section.whatWeOffer .whatWeOfferCol p {
		font-size: 16px;
	}

	/*************************       What We Offer end        *************************/


	/*************************        WHY ORDER start        *************************/

	section.whyOrder .wrapp div {
		background-image: none;
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		
	}

	section.whyOrder h1 {
		text-align: center;
		
	}

	section.whyOrder p {
		width: 100%;
		font-size: 16px;
	}

	/*************************        WHY ORDER end        *************************/

	/*************************        We accept start        *************************/


	section.weAccept div.wrapp {
		padding: 0;
		text-align: center;
	}

	section.weAccept h1 {
		display: block;
		font-size: 22px;
		margin: 0;
		padding: 15px 0;
	}

	section.weAccept ul {
		padding: 10px 0;

	}

	section.weAccept ul li {
		width: 110px;
		height: 60px;
		line-height: 56px;
		margin-bottom: 10px;
		float: none;
		display: inline-block;
	}

	/*************************        We accept end        *************************/

	/*************************        footer start        *************************/



	footer.paperFooter .footerLinks ul:nth-child(1) {
		width: 50%;
	}

	footer.paperFooter .footerLinks ul:nth-child(2) {
		width: 45%;
	}	

	footer.paperFooter .footerLinks ul:nth-child(3) {
		margin-top: 30px;
		width: 90%;
		font-size: 14px;
		line-height: 1.3;
	}


	/*************************        footer end        *************************/

	/*************************        sigle page & sidebar start        *************************/

	div.wrapp.main {
		margin-top: 60px;
		padding-top: 20px;
	}

	main.pageMain h1 {
		font-size: 22px;
		padding: 10px;
	}

	main.pageMain p {
		padding: 0 10px;
		font-size: 13px;
		line-height: 1.4;
	}

	main.pageMain.privacy li span, 
	main.pageMain.faq li span,
	main.pageMain.prices li span{
		font-size: 13px;
		line-height: 1.4;
	}

	main.pageMain h2,
	main.pageMain h3,
	main.pageMain h4 {
		padding: 0 10px;
	}

	main.pageMain,
	aside.sidebar {
		width: 100%;
		float: none;
		margin: 0 auto;
	}

	aside.sidebar {
		margin-top: 30px;
	}

	section.triggers,
	div.wrapp.main aside.sidebar .paperCalcSide {
		width: 100%;
		float: none;
		
		
	}

	section.triggers {

	}

	section.triggers {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	section.triggers ul {
		width: 250px;
		display: block;
		margin: 0 auto;
	}

	section.triggers .logo {
		margin-top: 15px;
	}

	section.triggers ul li {
			padding: 10px 5px;
	}

	div.wrapp.main aside.sidebar .paperCalcSide {
		padding-top: 15px;
		border-top-left-radius: 0;
	border-top-right-radius: 0;
	}

	section.triggers ul li p {
		font-size: 16px;
		vertical-align: middle;
	}


	/*************************        sigle page & sidebar end        *************************/

	/*************************        discounts start        *************************/

	.discountsSafe {
		padding: 15px 20px;	
	}

	.discountsSafe img {
		display: none;
	}

	.discountsSafe ul {
		text-align: center;
		
	}

	.discountsSafe ul li {
		display: block;
		margin-left: auto;
		
	}

	.discountsSafe ul li:nth-child(1) {
		width: 140px;
		margin-right: auto;
	}

	.discountsSafe ul li:nth-child(2){
		width: 130px;
		margin-top: 60px;
		margin-right: auto;
	}
	.discountsSafe ul li:nth-child(3) {
		margin: 60px auto 0;
		width: 130px;
	}

	.discountsSafe ul li:not(:first-child):after {
		top: -27%;
		left: 30%;
		-webkit-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
				  transform: rotate(90deg);

	}

	ul.discountsTables {
		width: 99%;
		margin-left: auto;
		margin-right: auto;
		
	}

	ul.discountsTables li {
		width: 100%;
	}

	ul.discountsTables li:first-child {
		margin-right: auto;
	}

	main.pageMain .pageButtonBox {
		padding: 15px 10px;
		text-align: center;
		margin-bottom: 0;
	}

	main.pageMain .pageButtonBox h2 {
		font-size: 19px;
		display: block;
		float: none;
		margin-bottom: 10px;
	}

	main.pageMain .pageButtonBox a.papperButton {
		font-size: 13px;
		padding: 12px 10px;
	}

	main.pageMain .twoButtonBox a.papperButton:nth-of-type(1) {
		margin-right: 0;
		margin-bottom: 10px;
	}

	main.pageMain .pageButtonBox.shareGood a.papperButton {
		margin-right: 0;
	}

	main.pageMain .twoButtonBox h2 {
		text-align: center;
	}

	main.pageMain .twoButtonBox h2 br {
		display: none;
	}

	main.pageMain .twoButtonBox h2 span {
		display: inline;
		float: none;
	}

	

	/*************************        discounts end        *************************/

	/*************************        faq start        *************************/

	.faqSuperImg {
		margin-bottom: 30px;
	}

	.faqSuperImg h6 br{
		display: none;
	}

	main.pageMain .faqSuperImg h5,
	main.pageMain .faqSuperImg h6 {
		font-size: 20px;
	}

	main.pageMain .faqSuperImg h6 {
		margin-bottom: 10%;
	}

	.faqSuperArrow {
		display: none;
	}

	/*************************        faq end        *************************/

	/*************************        contact us start        *************************/

	.contactForm {
		padding: 0 10px;
	}

	.contactForm fieldset input, 
	.contactForm fieldset textarea {
		width: 100%;
	}

	.contactForm span.fieldError {
		left: 0;
		top: 85px;
		font-size: 14px;
	}

	.contactForm fieldset.textareaFieldset span.fieldError {
		top: 170px;
	}

	.contactForm fieldset label {
		display: block;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 5px;
	}

	.contactForm fieldset {
		padding-bottom: 10px;
	}

	.pageMain .successMesage {
		width: 250px;
		left: calc(50% - 125px);
		padding: 10px;
	}

	.pageMain .successMesage img {
		display: none;
	}

	.pageMain .successMesage h2 {
		margin-top: 0;
		font-size: 22px;
		text-align: center;
	}

	.pageMain .successMesage h3 {
		font-size: 16px;
		text-align: center;
	}

	/*************************        contact us end        *************************/

	/*************************        Prices Overview start        *************************/

	main.prices section.savings div.savingsEl {
		width: 40%;
	}

	main.prices .pricesPic ul {
		padding-left: 0;
	}

	.pricesPic {
		text-align: center;
		
	}

	.pricesPic li {
		display: inline-block;
		width: 90%;
		float: none;
	}
	.pricesPic li:nth-child(odd) {
		margin-right: 2%;
	}

	.pricesPic li:nth-child(3) {
		margin-left: 0;
	}

	.pricesPic li:nth-child(3),
	.pricesPic li:nth-child(4) {
		margin-top: 2%;
	}

	.pricesPic li span {
		float: none;
		display: inline-block;
	}

	main.pageMain .pricesPic h4 {
		float: none;
		margin-top: 10px;
		margin-left: 0;
		font-size: 14px;
		text-align: center;
		
	}

	.tableCalc .calcWrapper {
		padding-left: 20px; 	
	}

	.tableCalc .calcWrapper .selectWrapper {
		width: 90%;
	}

	.tableCalc .calcWrapper .selectWrapper {
		margin-right: 5%;
	}
	.tableCalc thead th {
		font-size: 13px;
	}
	.tableCalc tbody tr td {
		font-size: 13px;
	}

	/*************************        Prices Overview end        *************************/

	/*************************        about us start        *************************/

	.aboutUsTabControl {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.aboutUsTabControl li {
		font-size: 13px;
	}

	.aboutUsTabControl li:not(:last-child) {
		margin-right: 10px;
		padding-right: 10px;
	}

	/*************************        about us end        *************************/
}